#camera-canvas-container {
    position: relative;
    background-color: red;
    border-radius: 20px;
    overflow: hidden;
    width: 90vw; /* Max width based on viewport */
    height: 90vh; /* Max height based on viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
}

#camera-canvas {
    display: none;
}
#start-button {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    /*font-size: 200%;*/
    width: 5%;
    aspect-ratio : 1 / 1;
    background-color: rgba(255, 161, 161, 0.8);
    color: transparent;
    border: none;
    border-radius: 100%;
    padding: none;
    margin: none;

}

#upload-button {
    position: absolute;
    border-radius: 8px;
    bottom:2%;
    left:2%;

    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
}

#file-input {
    display: none;
}
