@import "variables.css";

#menu-div {
    background-color: rgb(116, 116, 116);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
}


.menu-button {
    background-color: rgb(192, 192, 255);
    border: none;
    border-radius: 5px;
    
}